<%= form_for @girl do |f| %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :language %>
    <%= f.text_field :language, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :keyword %>
    <%= f.text_field :keyword, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password :password, class: 'form-control'%>
  </div>



  <%= f.submit 'Sign Up!', class: 'btn btn-primary' %>
<% end %>
