<% if current_girl_user  || current_volunteer_user  %>

  <div class = "nav.navbar.navbar-default" style="background-color:#F4F7F5">
      <div id = "bs-example-navbar-collapse-1 collapse navbar-collapse" >
         <ul class = "nav navbar-nav headerlist">
            <li class="list-float list-style">
             <%= link_to "Logout", :controller => 'sessions', :action => 'destroy', :class => "list-style" %>

            <span class = "sr-only">
               <!-- | (current) -->
            </li>
            <li class="list-float">
            <% if current_girl_user %>
              <%= link_to "Profile", "/girls/#{current_girl_user.id}", :class => "list-style"%>
            <% end %>
            <% if current_volunteer_user %>
              <%= link_to "Profile", "/volunteers/#{current_volunteer_user.id}", :class => "list-style" %>
            <% end %>
            <span class = "sr-only">
               <!-- | (current) -->
            </li>
            <li class="list-float">
            <%= link_to "Home",  "/", :class => "list-style" %>
            <span class = "sr-only">
               <!-- | (current) -->
           </li>
        </ul>
      </div>
    </div>
<% else %>
   <div class = "nav.navbar navbar-default" style="background-color:#F4F7F5">
      <div id = "bs-example-navbar-collapse-1 collapse navbar-collapse">
         <ul class = "nav navbar-nav headerlist">
            <li class="list-float list-style">
            <%= link_to "Login ", :class => "list-style", :controller => 'sessions', :action => 'new' %>
            <span class = "sr-only">
               <!-- | (current) -->
            </li>
            <li class="list-float">
            <%= link_to "  Register as Girl",  "/girls/new", :class => "list-style" %>
            <span class = "sr-only">
               <!-- | (current) -->
            </li>
            <li class="list-float">
            <%= link_to "  Register as Volunteer",  "/volunteers/new", :class => "list-style" %>
            <span class = "sr-only">
               <!-- | (current) -->
            </li>
            <li class="list-float">
            <%= link_to "Home", "/", :class => "list-style" %>
            <span class = "sr-only">
               <!-- | (current) -->
            </li>
          </ul>
        </div>
      </div>
<% end %>
