<!DOCTYPE html>
<html>
  <head>
    <title>Heall</title>
      <%= javascript_include_tag 'application','jquery', 'data-turbolinks-track' => true  %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Frijole|Slackey" rel="stylesheet">

      <%= google_webfonts_init({
          google: ['Frijole', 'cursive']
        }) %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
